# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# Verilator
*.vcd

# Build artifacts
simulation/obj_dir/
simulation/waves/*
simulation/logfile
simulation/simulation_output_rv32.csv
simulation/simulation_output_rv64.csv
simulation/test_cases_results_rv64.csv
simulation/test_cases_rv32.csv
simulation/test_cases_rv64.csv


# VS Code settings
.vscode/